@import "../vendor/bootstrap/scss/bootstrap";
@import "../sass/variables";

body {
	font-family: $body-font;
}

a {
	color: $black;
}

p {
	font-size: 18px;
	color: $naza-dark-brown;
	font-weight: 300;
}

li {
	font-size: 18px;
	color: $naza-dark-brown;
	font-weight: 300;
}

h1 {
	font-family: $heading-font;
	font-weight: 400;
	@include media-breakpoint-down(xs) {
		font-size: 24px;
	}
}

h2 {
	font-family: $heading-font;
	font-weight: 400;
	@include media-breakpoint-down(xs) {
		font-size: 20px;
	}
}

h3 {
	font-family: $heading-font;
	font-weight: 400;
	@include media-breakpoint-down(xs) {
		font-size: 18px;
	}
}

section {
	height: 100%;
	min-height: 100vh;
}

#mainNav {
	min-height: 3.5rem;
	flex-flow: row nowrap;
	display: inline-flex;
	padding: 0;
	.navbar-toggler {
		font-size: 80%;
		padding-left: 0px;
    	padding-right: 0px;
    	padding-top: 0px;
    	padding-bottom: 0px;
		color: #64a19d;
		border: none;
		&:focus {
			outline: none;
		}
		.nav-menu-icon {
			display: block;
			.line {
				width: 1.5rem;
				height: .15rem;
				background: #E7E6DD;
				transition: 0.5s;
				border-radius: 2.5rem;
				margin-bottom: .52em;
				opacity: 1;
				transition: all 0.3s ease;
				&:first-child {
					width: 1rem;
				}
				&:last-child {
					margin-bottom: 0;
					width: 1rem;
				}
			}
			&.active {
				.line {
					&:first-child {
						-webkit-transform: rotate(45deg);
						-webkit-transform-origin: 2px 7px;
						transform: rotate(45deg);
						transform-origin: 2px 7px;
						width: 1.5rem;
					}
					&:nth-child(2) {
						opacity: 0;
					}
					&:last-child {
						-webkit-transform: rotate(-45deg);
						-webkit-transform-origin: 2px -5px;
						transform: rotate(-45deg);
						transform-origin: 2px -5px;
						width: 1.5rem;
					}
				}
			}
		}
	}
	.navbar-collapse {
		&.show {
			display: inline-flex;
		}
		&.collapsing {
			display: inline-flex;
		}
	}
	.navbar-brand {
		color: #000000;
		font-weight: 500;
		padding: 0.9rem 0;
		text-transform: uppercase;
		transition: transform 1s linear;
		@include media-breakpoint-up(lg) {
			padding: 0.5rem 0;
			color: rgba(255, 255, 255, 0.5);
		}
	}
	.navbar-nav {
		flex-flow: row nowrap;
		padding: 0;
		.nav-item {
			&:hover {
				color: fade(#fff, 80%);
				outline: none;
				background-color: transparent;
			}
			&:active {
				outline: none;
				background-color: transparent;
			}
			&:focus {
				outline: none;
				background-color: transparent;
			}
			.nav-link {
				padding: $spacing-xs $spacing-sm;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 13px;
			}
		}
	}
	.top-nav {
		list-style: none;
		text-transform: uppercase;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 22px;
		margin: $spacing-xs 0 !important;
		a {
			&:hover {
				color: $naza-brown;
			}
		}
	}
}
.btn {
	padding: 1.25rem 2rem;
	text-transform: uppercase;
	letter-spacing: 0.15rem;
	border: 0;
	&.btn-readmore {
		color: $white;
		background: none;
		border-bottom: 5px solid $white;
		border-radius: 0;
		padding: $spacing-sm 0 $spacing-xs;
		&:hover {
			border-bottom: 10px solid $white;
		}
		@include media-breakpoint-down(xs) {
			font-size: 12px;
		}
	}
}

.masthead {
	position: relative;
	width: 100%;
	height: 100vh !important;
	min-height: 100vh;
	background: $naza-salmon;
	h1 {
		font-family: $fancy-font;
		font-size: 2.5rem;
		line-height: 2.5rem;
		letter-spacing: 0.8rem;
		background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-clip: text;
		@include media-breakpoint-up(lg) {
			font-size: 6.5rem;
			line-height: 6.5rem;
			letter-spacing: 0.8rem;
		}
		@include media-breakpoint-up(sm) {
			font-size: 4rem;
			line-height: 4rem;
		}
	}
	h2 {
		max-width: 20rem;
		font-size: 1rem;
	}
	.hero-bg-text {
		text-align: center;
		overflow: hidden;
		img {
			width: 120%;
			@include media-breakpoint-down(lg) {
				width: 200% !important;
				max-width: initial;
			}
			@include media-breakpoint-down(md) {
				width: 300% !important;
				max-width: initial;
			}
			@include media-breakpoint-down(xs) {
				width: 300% !important;
				max-width: initial;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				width: 200% !important;
				max-width: initial;
			}
		}
	}
	.hero-image {
		.hero-naza {
			position: absolute;
			bottom: -150px;
			left: 32%;
			max-width: 35%;
			@include media-breakpoint-down(lg) {
				bottom: -50px;
				left: 5%;
				max-width: 50%;
			}
			@include media-breakpoint-down(md) {
				bottom: 0;
				left: -20%;
				max-width: 75%;
			}
			@include media-breakpoint-down(sm) {
				bottom: 0;
				left: 25%;
				max-width: 45%;
			}
			@include media-breakpoint-down(xs) {
				bottom: -50px;
				max-width: 100%;
				left: -25%;
			}
			
			@media (min-width: 481px) and (max-width: 870px) {
				bottom: -150px;
				max-width: 40%;
				left: 25%;
			}
		}
	}
}
.about-section {
	background: $white;
	@include media-breakpoint-down(xs) {
		padding-top: $spacing-max;
	}
	@media (min-width: 481px) and (max-width: 870px) {
		padding: $spacing-max 0;
	}
	p {
		margin-bottom: 5rem;
	}
	.about-block {
		.block-h1 {
			font-family: $fancy-font;
			font-size: 100px;
			color: rgba(224, 189, 177, 0.4);
			margin-bottom: 0;
			transition: all 0.5s linear;
			@include media-breakpoint-down(xs) {
				font-size: 50px;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				font-size: 50px;
			}
		}
		.about-image {
			height: 300px;
			border-radius: $spacing-xs;
			background-color: $naza-salmon;
			@include media-breakpoint-down(md) {
				min-height: 200px;
				height: auto;
			}
			@include media-breakpoint-down(xs) {
				min-height: 120px;
				height: auto;
			}
			img {
				transform: scaleY(1);
				transition: all .7s ease-in-out;
			}
			.mask {
				transition: all 0.5s linear;
				opacity: 0;
				border-radius: $spacing-xs;
				height: 100%;
				padding: $spacing-lg;
				display: flex;
				align-items: center;
				h2 {
					background: transparent;
					transform: scale(0);
					color: $white;
					transition: all 0.5s linear;
					opacity: 0;
					display: block;
				}
				p {
					color: $white;
					opacity: 0;
					transform: scale(0);
					transition: all 0.5s linear;
				}
				.btn-readmore {
					opacity: 0;
					transform: scale(0);
					transition: all 0.5s linear;
				}
			}		
		}
		.about-title {
			font-weight: 300;
			text-transform: uppercase;
			font-size: 20px;
			padding: $spacing-lg 0;
			display: flex;
			align-items: center;
			transition: all 0.5s linear;
			font-family: $body-font;
			.about-dot {
				height: $spacing-md;
				width: $spacing-md;
				background-color: #D74567;
				border-radius: 50%;
				display: inline-block;
				margin-right: $spacing-md;
				transition: all 0.5s linear;
				@include media-breakpoint-down(xs) {
					margin-right: $spacing;
				}
			}
			@include media-breakpoint-down(xs) {
				font-size: 12px;
				font-weight: 600;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				font-size: 16px;
			}
		}
		&:hover { 
			img {
				-webkit-transform: scale(10);
				transform: scale(10);
				opacity: 0;
			}
			.mask {
				opacity: 1;
				h2 {
					transform: scale(1);
					opacity: 1;
				}
				p {
					transform: scale(1);
					opacity: 1;
				}
				.btn-readmore {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
		&.humanitarian {
			.about-image {
				background-image: url("../assets/img/naza-afghan-children.jpg");
				background-size: cover;		
			}
			.about-title {
				.about-dot {
					background-color: $naza-pink;
				}
			}
			&:hover {
				.block-h1 {
					color: $naza-pink-alpha;
					transition: all 0.5s linear;
				}
				.about-image {
					.mask {
						background-color: $naza-pink-alpha;
					}		
				}
				.about-title {
					color: $naza-pink;
					.about-dot {
						background: none;
						border: 2px solid $naza-pink;
						transition: all 0.5s linear;
					}
				}
			}
		}
		&.environmentalist {
			.about-image {
				background-image: url("../assets/img/naza-planting-tree.jpg");
				background-size: cover;
				.mask {
					background-color: $naza-green-alpha;
				}		
			}
			.about-title {
				.about-dot {
					background-color: $naza-green;
				}
			}
			&:hover {
				.block-h1 {
					color: $naza-green-alpha;
					transition: all 0.5s linear;
				}
				.about-image {
					.mask {
						background-color: $naza-green-alpha;
					}		
				}
				.about-title {
					color: $naza-green;
					.about-dot {
						background: none;
						border: 2px solid $naza-green;
						transition: all 0.5s linear;
					}
				}
			}
		}
		&.philanthropist {
			.about-image {
				background-image: url("../assets/img/naza-unicef-launch-social.jpg");
				background-size: cover;	
			}
			.about-title {
				.about-dot {
					background-color: $naza-gold;
				}
			}
			&:hover {
				.block-h1 {
					color: $naza-gold-alpha;
					transition: all 0.5s linear;
				}
				.about-image {
					.mask {
						background-color: $naza-gold-alpha;
					}		
				}
				.about-title {
					color: $naza-gold;
					.about-dot {
						background: none;
						border: 2px solid $naza-gold;
						transition: all 0.5s linear;
					}
				}
			}
		}
	}
	.about-heading-text {
		text-align: center;
		color: $naza-dark-brown;
		padding-top: $spacing-lg;
		@include media-breakpoint-down(md) {
			text-align: left;
		}
		@include media-breakpoint-down(xs) {
			text-align: left;
			font-size: 22px;
		}
		@media (min-width: 481px) and (max-width: 870px) {
			font-size: 32px;
		}
	}
}
.humanitarian-section {
	background-color: $naza-pink;
	background-image: url("../assets/img/quarter-circle.svg");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: left bottom;
	padding: 50px 0 0;
	@media (min-width: 481px) and (max-width: 870px) {
		padding: $spacing-max 0;
	}
	.h-image {
		.h-naza {
			position: absolute;
			bottom: -100px;
			left: 0;
			max-width: 40%;
			@include media-breakpoint-down(lg) {
				bottom: 0;
				max-width: 40%;
			}
			@include media-breakpoint-down(md) {
				bottom: 0;
				left: -20%;
				max-width: 75%;
			}
			@include media-breakpoint-down(sm) {
				bottom: 0;
				left: 25%;
				max-width: 45%;
			}
			@include media-breakpoint-down(xs) {
				display: none;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				bottom: -30px;
				left: -10%;
				max-width: 55%;
			}
		}
	}
	@include media-breakpoint-down(xs) {
		background-image: none;
	}
	.humanitarian-block {
		height: 150px;
		width: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(xs) {
			margin-bottom: $spacing;
		}
		@media (min-width: 481px) and (max-width: 870px) {
			height: 120px;
		}
		.hblock-text {
			background: $white-alpha;
			padding: $spacing-sm $spacing-xl;
			color: $white;
			display: flex;
			align-items: center;
			justify-content: left;
			@include media-breakpoint-down(xs) {
				padding: $spacing-xs $spacing;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				padding: $spacing-xs;
			}
			h5 {
				font-size: 22px;
				span {
					font-weight: 800;
					display: block;
				}
				@include media-breakpoint-down(xs) {
					font-size: 18px;
				}
			}
		}
		@include media-breakpoint-down(xs) {
			height: 120px;
		}
	}
}
.environment-section {
	background: $naza-green;
	min-height: 100%;
	.side-page-title {
		position: absolute;
		bottom: 25%;
		left: -15%;
		color: $white;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 100;
		transform: rotate(-90deg);
		@include media-breakpoint-down(xs) {
			left: -90%;
		}
		@media (min-width: 481px) and (max-width: 870px) {
			left: -35%;
			bottom: 30%;
			font-size: 32px;
		}
	}
	.env-bg {
		min-height: 100vh;
		padding-top: 100px;
		background-image: url("../assets/img/naza-env-bg.jpg");
		background-size: cover;
		.env-heading-text {
			font-family: $heading-font;
			color: $white;
			opacity: .8;
			margin-left: 200px;
			position: absolute;
			right: -10%;
			z-index: 2;
			@include media-breakpoint-down(md) {
				position: relative;
				margin-left: 20px;
			}
			@include media-breakpoint-down(xs) {
				position: absolute;
				right: -200%;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				position: absolute;
				top: 15%;
				font-size: 30px;
				right: -10%;
				margin-left: 100px;
			}
		}
		@include media-breakpoint-down(xs) {
			padding-top: 60px;
		}
	}
}
.philanthropy-section {
	background: $naza-beige;
	@include media-breakpoint-down(xs) {
		padding-top: 40px;
	}
	@media (min-width: 481px) and (max-width: 870px) {
		padding: $spacing-max 0;
	}
	.side-page-title {
		position: absolute;
		bottom: 5%;
		left: 0;
		color: $naza-brown;
		text-transform: uppercase;
		font-family: $body-font;
		font-weight: 100;
	}
	.phil-heading-text {
		font-family: $heading-font;
		color: $naza-brown;
		margin-left: 200px;
		margin-bottom: -20px;
		position: relative;
		z-index: 3;
		@include media-breakpoint-down(xs) {
			margin-left: 0;
		}
		@media (min-width: 481px) and (max-width: 870px) {
			margin-left: 30px;
			font-size: 30px;
		}
	}
	.sage-logo {
		padding-top: $spacing-max;
		text-align: center;
		svg {
			opacity: .5;
			fill: $sage-green;
			transition: all 0.5s linear;
			&:hover {
				transition: all 0.5s linear;
				opacity: 1;
				fill: $sage-light-green;
			}
			@include media-breakpoint-down(xs) {
				margin-left: 0;
				max-height: 200px;
			}
			@media (min-width: 481px) and (max-width: 870px) {
				max-height: 200px;
			}
		}
		@include media-breakpoint-down(xs) {
			padding-top: $spacing-md;
		}
		@media (min-width: 481px) and (max-width: 870px) {
			padding: $spacing-sm;
		}
	}
	.btn-readmore {
		color: $naza-green;
		border-color: $naza-green;
		&:hover {
			border-color: $naza-green;
		}
	}
}
.contact-section {
	padding-top: 5rem;
	background: $naza-dark-brown;
	color: $white;
	@include media-breakpoint-down(xs) {
		padding-top: $spacing-xl;
	}
	@media (min-width: 481px) and (max-width: 870px) {
		padding: $spacing-max 0;
	}
	.contact-heading-text {
		color: $naza-beige;
		margin-bottom: -20px;
		position: relative;
		z-index: 3;
		@include media-breakpoint-up(lg) {
			margin-left: 200px;
			margin-bottom: -40px;
		}
		@include media-breakpoint-down(xs) {
			position: relative;
			font-size: 16px;
			margin-left: 20px;
			margin-bottom: 20px;
		}
		@media (min-width: 481px) and (max-width: 870px) {
			font-size: 30px;
		}
	}
	.naza-contact {
		@include media-breakpoint-down(xs) {
			position: absolute;
			top: 0;
			right: 0;
			max-width: 200px;
		}
	}
	.social {
		margin-top: 5rem;
		position: absolute;
		bottom: 15%;
		right: -25px;
		.social-icons {
			background: $white;
			padding: $spacing-sm;
			a {
				text-align: center;
				display: inline-block;
				height: 3rem;
				width: 3rem;
				background: rgba(255, 255, 255, 0.1);
				border-radius: 100%;
				line-height: 3rem;
				color: $naza-dark-brown;
				font-size: 22px;
				&:hover {
					color: rgba(255, 255, 255, 0.5);
				}
				&:active {
					color: #fff;
				}
				.fa-twitter {
					&:hover {
						color: $naza-brown;
					}
				}
				.fa-instagram {
					&:hover {
						color: $naza-brown;
					}
				}
				@include media-breakpoint-down(xs) {
					display: block;
					height: auto;
					width: auto;
				}
			}
		}
		@include media-breakpoint-down(xs) {
			bottom: 5%;
			left: -15%;
		}
	}
	.contact-form {
		.form-control {
			color: $naza-beige;
			border: 1px solid $white;
			border-radius: 3px;
			background: transparent;
			height: 50px;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: $naza-brown;
			font-size: 16px;
			opacity: 1; /* Firefox */
		}
	}
}
.footer {
	padding: 5rem 0;
}


@keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(46px);
	}
}
.icon-scroll {
	position: absolute;
	right: 5%;
	width: 30px;
	height: 50px;
	margin-left: -16px;
	bottom: 5%;
	margin-top: -35px;
	box-shadow: inset 0 0 0 1px #fff;
	border-radius: 25px;
	&:before {
		position: absolute;
		left: 50%;
		content: '';
		width: 8px;
		height: 8px;
		background: #fff;
		margin-left: -4px;
		top: 8px;
		border-radius: 4px;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-name: scroll;
	}
}

#fp-nav {
	ul {
		li {
			a {
				span {
					background: #333;
				}
			}
		}
	}
}
.fp-slidesNav {
	ul {
		li {
			a {
				span {
					background: #333;
					left: 50%;
					top: 50%;
					margin: -2px 0 0 -2px;
					-webkit-transition: all .1s ease-in-out;
					-moz-transition: all .1s ease-in-out;
					-o-transition: all .1s ease-in-out;
					transition: all .1s ease-in-out;
				}
			}
		}
	}
}


.noisy {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCI+CjxmaWx0ZXIgaWQ9Im4iIHg9IjAiIHk9IjAiPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iMC43IiBudW1PY3RhdmVzPSIxMCIgc3RpdGNoVGlsZXM9InN0aXRjaCI+PC9mZVR1cmJ1bGVuY2U+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsbD0iI0UwQkRCMSI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMzAwIiBoZWlnaHQ9IjMwMCIgZmlsdGVyPSJ1cmwoI24pIiBvcGFjaXR5PSIwLjIiPjwvcmVjdD4KPC9zdmc+");
	background-size: 30%;
	background-repeat: repeat;
} 

.no-gutters {
	> [class*="col-"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
}

.small-gutters {
	> [class*="col-"] {
		padding-right: $spacing-xs;
		padding-left: $spacing-xs;
	}
}

.form-control {
	padding: .5rem 1rem;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.5;
	height: 60px;
	color: #201f23;
	border: 3px solid rgba(32, 31, 35, 0.1);
	border-radius: $spacing-xs;
}
.close {
	position: absolute;
	display: block;
	top: 0;
	right: 3%;
	font-size: 42px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: all 100ms ease-out;
	color: #fc2937;
	opacity: 1;
	text-shadow: none;
}
.modal-dialog {
	max-width: initial;
	margin: 1.75rem auto;
}


.contentmodal {
	background-color: $white;
	background-attachment: fixed;
	background-size: cover;
	h3 {
		font-size: 1.5em;
		color: $naza-gold;
		font-family: $body-font;
		font-weight: 300;
	}
	h4 {
		font-size: 1.2em;
	}
	label {
		font-size: 1em;
		@include media-breakpoint-up(xs) {
			font-size: 1.3em;
		}
	}
	.modal-content {
		background: transparent;
		border: 0;
		padding: 5% 0;
	}
	.naza-brand {
		position: absolute;
		display: block;
		top: 0;
		left: 15px;
		font-size: 1.25rem;
		line-height: 1.2em;
		white-space: nowrap;
		transition: all 100ms ease-out;
		font-weight: 100;
		padding: 0;
		text-transform: uppercase;
		@include media-breakpoint-up(lg) {
			padding: 0.5rem 0;
		}
		span {
			display: block;
			font-size: 16px;
			font-weight: 500;
		}
	}
	&.humanitarian {
		.naza-brand {
			color: $naza-pink;
		}
		.modal-header{
			.close {
				color: $naza-pink;
			}
		}
	}
	&.environmentalist {
		background-color: $naza-green;
		color: $white;
		.naza-brand {
			color: $naza-beige;
		}
		.modal-header {
			border-bottom: none;
			.close {
				color: $naza-beige;
			}
		}
		.modal-content {
			p {
				color: $naza-beige;
			}
			li {
				color: $naza-beige;
			}
		}
	}
	&.philanthropist {
		.naza-brand {
			color: $naza-brown;
		}
		.modal-header {
			.close {
				color: $naza-brown;
			}
		}
	}
}
